{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <h1>Bonjour bienvenue sur mon site</h1>
    <div>
          <a href="{{path('app_login')}}">Connexion</a>
    </div>
    {% if app.user == false  %} <a  href="{{path('app_register') }}"> S'inscrire </a>
            {% else%}
            <div>
                  <a href="{{path('app_logout')}}">Deconnexion</a>
            </div>
    {% endif %}
{% endblock %}
